<!DOCTYPE HTML>
<html>
  <head>
    <title>PyRun</title>
    <link rel="stylesheet" href="/static/style.css" type="text/css">
  </head>
  <body>
    <div id="container">
      	<h1>Welcome to PyRun!</h1>
      	<p>这是一个运行在 LeanEngine 的 Python 应用。 </p>
      	<p>可以在线运行 Python 程序，且已安装了常见的依赖。</p>
      	<p><a href="/shell">云端Shell，在云端执行linux命令</a></p>
      	<p><a href="/osinfo">查看云端服务器信息</a></p>
		<p><a href="/piplist">查看已安装的依赖</a></p>
		<p><a href="/pyrun">在线运行 Python 程序</a></p>
		<p><a href="https://github.com/Wayho/PyRun">项目地址：https://github.com/Wayho/PyRun</a></p>
    </div>
  </body>
</html>
